menggunakan pandas untuk menjalankan kodingan ini

In [2]:
import pandas as pd

Membaca file tersebut menggunakan pandas

In [3]:
data = pd.read_csv('player_stats.csv')

Membuat data tersebut menjadi dataframe

In [4]:
pd.DataFrame(data)

,Unnamed: 0,match_id,game_id,team,score_team,opponent,score_opp,win_lose,map,map_pick,...,rating,acs,kill,death,assist,kast%,adr,hs%,fk,fd
0,0,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,1.19,239,15,11,6,72%,146,16%,1,0
1,1,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.84,234,15,14,6,61%,145,32%,1,4
2,2,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.68,173,10,15,2,67%,123,18%,4,2
3,3,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.63,142,8,15,4,83%,92,29%,3,2
4,4,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.57,114,7,16,8,61%,63,13%,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225,6225,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,1.43,244,23,13,10,83%,162,46%,0,1
6226,6226,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,1.26,338,26,18,5,78%,225,18%,7,3
6227,6227,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,1.09,198,16,16,1,65%,131,36%,2,2
6228,6228,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,0.86,180,13,17,15,74%,108,29%,2,3
6229,6229,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,0.86,118,9,13,8,74%,82,30%,1,2

Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [5]:

data['acs'] = pd.to_numeric(data['acs'], errors='coerce', downcast='integer')
data.describe()

,Unnamed: 0,match_id,game_id,score_team,score_opp,player_id,acs,kill,death,assist
count,6230.00000,6230.000000,6230.000000,6230.000000,6230.000000,6230.000000,6160.000000,6230.000000,6230.000000,6230.000000
mean,3114.50000,56190.330658,125572.073836,10.695827,10.695827,4843.833868,197.908929,14.812520,14.819101,6.597592
std,1798.59042,3216.927760,7711.423206,3.438765,3.438765,5696.784432,56.627896,5.319357,3.668542,4.042918
min,0.00000,52768.000000,117161.000000,0.000000,0.000000,4.000000,36.000000,2.000000,2.000000,0.000000
25%,1557.25000,53561.000000,119246.000000,8.000000,8.000000,733.000000,158.000000,11.000000,13.000000,4.000000
50%,3114.50000,53699.000000,119636.000000,13.000000,13.000000,2764.000000,194.000000,14.000000,15.000000,6.000000
75%,4671.75000,59969.000000,134549.000000,13.000000,13.000000,7718.000000,233.000000,18.000000,17.000000,9.000000
max,6229.00000,61198.000000,137663.000000,21.000000,21.000000,39163.000000,441.000000,42.000000,33.000000,33.000000

Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [6]:
data.head(10)

,Unnamed: 0,match_id,game_id,team,score_team,opponent,score_opp,win_lose,map,map_pick,...,rating,acs,kill,death,assist,kast%,adr,hs%,fk,fd
0,0,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,1.19,239.0,15,11,6,72%,146,16%,1,0
1,1,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.84,234.0,15,14,6,61%,145,32%,1,4
2,2,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.68,173.0,10,15,2,67%,123,18%,4,2
3,3,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.63,142.0,8,15,4,83%,92,29%,3,2
4,4,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.57,114.0,7,16,8,61%,63,13%,0,1
5,5,53658,119512,DRX,13,ZETA,5,team win,Ascent,team pick,...,1.67,257.0,15,9,20,83%,172,30%,1,2
6,6,53658,119512,DRX,13,ZETA,5,team win,Ascent,team pick,...,1.30,275.0,18,11,4,72%,167,17%,5,4
7,7,53658,119512,DRX,13,ZETA,5,team win,Ascent,team pick,...,1.27,299.0,17,15,8,83%,190,28%,2,1
8,8,53658,119512,DRX,13,ZETA,5,team win,Ascent,team pick,...,1.06,168.0,11,10,3,67%,95,31%,1,0
9,9,53658,119512,DRX,13,ZETA,5,team win,Ascent,team pick,...,0.87,125.0,10,10,0,67%,63,19%,0,2

Menampilkan Informasi jumlah record informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka kedalam dictionary

In [7]:
info = {}
info['Jumlah record'] = len(data)
info['Jumlah Atrribute'] = data.shape[1]
info['Nama Atributte'] = data.columns
info['Jumlah Atrribute bertipe angka'] = data.select_dtypes(include=['int', 'float']).shape[1]
pd.DataFrame.from_dict(info)

,Jumlah record,Jumlah Atrribute,Nama Atributte,Jumlah Atrribute bertipe angka
0,6230,23,Unnamed: 0,10
1,6230,23,match_id,10
2,6230,23,game_id,10
3,6230,23,team,10
4,6230,23,score_team,10
5,6230,23,opponent,10
6,6230,23,score_opp,10
7,6230,23,win_lose,10
8,6230,23,map,10
9,6230,23,map_pick,10
10,6230,23,player_id,10
11,6230,23,player,10
12,6230,23,agent,10
13,6230,23,rating,10
14,6230,23,acs,10
15,6230,23,kill,10
16,6230,23,death,10
17,6230,23,assist,10
18,6230,23,kast%,10
19,6230,23,adr,10
20,6230,23,hs%,10
21,6230,23,fk,10
22,6230,23,fd,10

Memapilkan nilai dataset menggunakan loc

In [8]:
data.loc[134:,'team':]

,team,score_team,opponent,score_opp,win_lose,map,map_pick,player_id,player,agent,rating,acs,kill,death,assist,kast%,adr,hs%,fk,fd
134,ZETA,13,RRQ,10,team win,Ascent,opponent pick,1000,crow,kayo,0.68,147.0,9,17,16,70%,96,12%,2,1
135,RRQ,10,ZETA,13,opponent win,Ascent,team pick,7403,EJAY,jett,1.38,290.0,23,16,4,70%,180,15%,3,4
136,RRQ,10,ZETA,13,opponent win,Ascent,team pick,4871,xffero,sova,1.15,223.0,19,14,5,83%,136,16%,2,1
137,RRQ,10,ZETA,13,opponent win,Ascent,team pick,9735,2ge,astra,1.01,139.0,10,15,15,87%,86,28%,1,2
138,RRQ,10,ZETA,13,opponent win,Ascent,team pick,7764,Lmemore,killjoy,0.95,191.0,15,17,3,83%,131,28%,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225,EG,13,PRX,10,team win,Lotus,team pick,26171,Demon1,astra,1.43,244.0,23,13,10,83%,162,46%,0,1
6226,EG,13,PRX,10,team win,Lotus,team pick,3993,jawgemo,raze,1.26,338.0,26,18,5,78%,225,18%,7,3
6227,EG,13,PRX,10,team win,Lotus,team pick,604,Boostio,killjoy,1.09,198.0,16,16,1,65%,131,36%,2,2
6228,EG,13,PRX,10,team win,Lotus,team pick,11225,Ethan,skye,0.86,180.0,13,17,15,74%,108,29%,2,3
6229,EG,13,PRX,10,team win,Lotus,team pick,619,C0M,viper,0.86,118.0,9,13,8,74%,82,30%,1,2

Menampilkan nilai data set menggunakan iloc

In [9]:
data.iloc[134:,4:]

,score_team,opponent,score_opp,win_lose,map,map_pick,player_id,player,agent,rating,acs,kill,death,assist,kast%,adr,hs%,fk,fd
134,13,RRQ,10,team win,Ascent,opponent pick,1000,crow,kayo,0.68,147.0,9,17,16,70%,96,12%,2,1
135,10,ZETA,13,opponent win,Ascent,team pick,7403,EJAY,jett,1.38,290.0,23,16,4,70%,180,15%,3,4
136,10,ZETA,13,opponent win,Ascent,team pick,4871,xffero,sova,1.15,223.0,19,14,5,83%,136,16%,2,1
137,10,ZETA,13,opponent win,Ascent,team pick,9735,2ge,astra,1.01,139.0,10,15,15,87%,86,28%,1,2
138,10,ZETA,13,opponent win,Ascent,team pick,7764,Lmemore,killjoy,0.95,191.0,15,17,3,83%,131,28%,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225,13,PRX,10,team win,Lotus,team pick,26171,Demon1,astra,1.43,244.0,23,13,10,83%,162,46%,0,1
6226,13,PRX,10,team win,Lotus,team pick,3993,jawgemo,raze,1.26,338.0,26,18,5,78%,225,18%,7,3
6227,13,PRX,10,team win,Lotus,team pick,604,Boostio,killjoy,1.09,198.0,16,16,1,65%,131,36%,2,2
6228,13,PRX,10,team win,Lotus,team pick,11225,Ethan,skye,0.86,180.0,13,17,15,74%,108,29%,2,3
6229,13,PRX,10,team win,Lotus,team pick,619,C0M,viper,0.86,118.0,9,13,8,74%,82,30%,1,2

Menampilkan jumlah label dengan atribut objek

In [10]:
kolobjek = data.select_dtypes(include='object')
jml_kol_objk = kolobjek.nunique()
pd.DataFrame({'Jumlah Kolom Objek ': jml_kol_objk})

          Jumlah Kolom Objek
team                       36
opponent                   36
win_lose                    2
map                         8
map_pick                    2
player                    197
agent                      21
rating                    185
kast%                      71
adr                       222
hs%                        68
fk                         14
fd                         13