menggunakan pandas untuk menjalankan kodingan ini

In [1]:
import pandas as pd

Membaca file tersebut menggunakan pandas

In [2]:
data = pd.read_csv('player_stats.csv')

Membuat data tersebut menjadi dataframe

In [3]:
pd.DataFrame(data)

,Unnamed: 0,match_id,game_id,team,score_team,opponent,score_opp,win_lose,map,map_pick,...,rating,acs,kill,death,assist,kast%,adr,hs%,fk,fd
0,0,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,1.19,239,15,11,6,72%,146,16%,1,0
1,1,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.84,234,15,14,6,61%,145,32%,1,4
2,2,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.68,173,10,15,2,67%,123,18%,4,2
3,3,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.63,142,8,15,4,83%,92,29%,3,2
4,4,53658,119512,ZETA,5,DRX,13,opponent win,Ascent,opponent pick,...,0.57,114,7,16,8,61%,63,13%,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6225,6225,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,1.43,244,23,13,10,83%,162,46%,0,1
6226,6226,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,1.26,338,26,18,5,78%,225,18%,7,3
6227,6227,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,1.09,198,16,16,1,65%,131,36%,2,2
6228,6228,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,0.86,180,13,17,15,74%,108,29%,2,3
6229,6229,61192,137642,EG,13,PRX,10,team win,Lotus,team pick,...,0.86,118,9,13,8,74%,82,30%,1,2

Menampilkan rata-rata, standar deviasi, nilai minimum, nilai maksimum, Q1, Q2, dan Q3 dari attribute bertipe angka

In [4]:

data['acs'] = pd.to_numeric(data['acs'], errors='coerce', downcast='integer')
data.describe()

,Unnamed: 0,match_id,game_id,score_team,score_opp,player_id,acs,kill,death,assist
count,6230.00000,6230.000000,6230.000000,6230.000000,6230.000000,6230.000000,6160.000000,6230.000000,6230.000000,6230.000000
mean,3114.50000,56190.330658,125572.073836,10.695827,10.695827,4843.833868,197.908929,14.812520,14.819101,6.597592
std,1798.59042,3216.927760,7711.423206,3.438765,3.438765,5696.784432,56.627896,5.319357,3.668542,4.042918
min,0.00000,52768.000000,117161.000000,0.000000,0.000000,4.000000,36.000000,2.000000,2.000000,0.000000
25%,1557.25000,53561.000000,119246.000000,8.000000,8.000000,733.000000,158.000000,11.000000,13.000000,4.000000
50%,3114.50000,53699.000000,119636.000000,13.000000,13.000000,2764.000000,194.000000,14.000000,15.000000,6.000000
75%,4671.75000,59969.000000,134549.000000,13.000000,13.000000,7718.000000,233.000000,18.000000,17.000000,9.000000
max,6229.00000,61198.000000,137663.000000,21.000000,21.000000,39163.000000,441.000000,42.000000,33.000000,33.000000

Menampilkan 10 record pertama dari dataset dengan attribute bertipe angka.

In [11]:
AtributAngka = data.select_dtypes(include=['int64', 'float64'])
AtributAngka.head(10)

,Unnamed: 0,match_id,game_id,score_team,score_opp,player_id,acs,kill,death,assist
0,0,53658,119512,5,13,999,239.0,15,11,6
1,1,53658,119512,5,13,1395,234.0,15,14,6
2,2,53658,119512,5,13,424,173.0,10,15,2
3,3,53658,119512,5,13,1000,142.0,8,15,4
4,4,53658,119512,5,13,6668,114.0,7,16,8
5,5,53658,119512,13,5,4462,257.0,15,9,20
6,6,53658,119512,13,5,11600,275.0,18,11,4
7,7,53658,119512,13,5,485,299.0,17,15,8
8,8,53658,119512,13,5,772,168.0,11,10,3
9,9,53658,119512,13,5,488,125.0,10,10,0

Menampilkan Informasi jumlah record informasi jumlah record, jumlah attribute, nama attribute, jumlah attribute dengan tipe angka kedalam dictionary

In [ ]:
info = {}
info['Jumlah record'] = len(data)
info['Jumlah Atrribute'] = data.shape[1]
info['Nama Atributte'] = data.columns
info['Jumlah Atrribute bertipe angka'] = data.select_dtypes(include=['int', 'float']).shape[1]
pd.DataFrame.from_dict(info)

Memapilkan nilai dataset menggunakan loc

In [ ]:
data.loc[134:,'team':]

Menampilkan nilai data set menggunakan iloc

In [ ]:
data.iloc[134:,4:]

Menampilkan jumlah label dengan atribut objek

In [ ]:
kolobjek = data.select_dtypes(include='object')
jml_kol_objk = kolobjek.nunique()
pd.DataFrame({'Jumlah Kolom Objek ': jml_kol_objk})